# Directories
.vs/
bin/
bin-int/

# Files
*.user

# Project files
*.sln
*.csproj
*.vbproj
*.fsproj
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
# XCode4
*.xcworkspace
*.xcuserdata
*.xcodeproj
# GMake
Makefile
CMakeCache.txt
